<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Bookmark Manager</title>
</head>
<body>
  <h1>Bookmark Manager</h1> 
  
  <table>
    <tr>
      <th>Name</th>
      <th>URL</th>
    </tr>
    <%= @bookmarks.map { |x| '<tr><td>' + x.title + '</td><td>' + x.url + '</td></tr>' }.join('') %>
  </table>

  <form action='/bookmarks/add' method='post'>
    <input type='text' name='title' placeholder='Title' required>
    <input type='text' name='url' placeholder='URL' required>
    <br>
    <input type='submit' value='Save'>
  </form>
</body>
</html>
